* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(120deg, #f6d365, #fda085);
    color: white;
    font-family: "Oswald", sans-serif;
    min-height: 100vh;
}

header {
    font-size: 1.5rem;
}

header, 
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

form input, 
form button {
    padding: 1rem;
    font-size: 2 rem;
    border: none;
    background: white;
}

form button {
    color:  #fda085;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #fda085;
    color: white; 
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todo li {
    flex: 1;
}

.trash-btn, 
.complete-btn {
    background: #ff6f47;
    color: white;
    border: none;
    padding: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.complete-btn {
    background: rgb(73, 204, 73);
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash, 
.fa-check {
    pointer-events: none;
}

.delete {
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
    transition: opacity 0.6s ease-in-out;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}

.select {
    margin-left: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    color: #ff6f47;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;

}

.select:after {
    content: "\25BC";
    position: absolute;
    background: #ff6f47;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3 ease;
}

.select:hover::after {
    background: white;
    color: #ff6f47;
}

.inspo-quote {
    background-color: white;
    color: #ff6f47;
    width: 50vw;
    min-height: 10vh;
    margin: auto;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    padding: 1rem;
}

.inspo-quote h2 {
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
}

.content .quote-area {
    padding: .5rem;
    display: flex;
}

.quote-area i{
    font-size: 1rem;
}

.quote-area i:first-child{
    display: flex;
    align-items: flex-start;
    margin: 0px 10px 0px 0px;
}

.quote-area i:last-child{
    /* margin: .5rem; */
    display: flex;
    align-items: flex-end;
    margin: 0px 0px 10px 10px;
}

.quote-area .quote {
    text-align: center;
}

.inspo-quote .content {
    margin: 1.5rem;
    text-align: center;
}

.content .author {
    display: flex;
    font-size: 1rem;
    justify-content: flex-end;
}

.quote-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.active-quote-btn {
    background: #ff6f47;
    color:white;
    height: 2rem;
    width: 6rem;
    border-radius: 1rem;
    cursor: pointer;
    border: none;
    outline: none;
}